<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://vhost1441.site1.compute.ihost.com/aspnet_client/WebSite1/WebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="ServiceReference1.ServiceSoap" name="ServiceSoap" />
            <endpoint address="http://vhost1441.site1.compute.ihost.com/aspnet_client/WebSite1/WebService.asmx"
                binding="customBinding" bindingConfiguration="ServiceSoap12"
                contract="ServiceReference1.ServiceSoap" name="ServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>
