<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="constring" connectionString="Server=.\SqlExpress;Database=GiftBuddy;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <appSettings>
  <add key="test123.WebService" value="http://localhost:61427/WebService.asmx"/>
  </appSettings>
</configuration>